*,
*:before,
*:after { box-sizing: inherit; margin: 0; padding: 0; font-family: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: normal; line-height: 1.11; }

.hx-wrapper {
	width: 100%;
	width: calc(100% + 1.5rem);
	margin-bottom: 1.8rem;
	border-bottom: 3px double floralwhite;
}
h1 .collections-link,
h1 .view-title {
	display: inline-flex;
	font-size: 1.8rem;
	font-weight: bold;
	color: floralwhite;
}
h1 .collections-link {
	cursor: pointer;
}
h1 .view-title {
	text-transform: capitalize;
}
h1 .view-title::before {
	display: inline-block;
	padding: 0 .9rem;
	// content: "|";
	content: ">";
	color: darken(gainsboro, 45%);
}


.collections-link {
	color: royalblue;
	font-size: 1.5rem;
	cursor: pointer;
}



a {
	text-decoration: none;
	color: $theme1;
}
a:hover,
a:active {}

a:active,
a:focus {
	outline: 0;
}

.main p {
	font-size: 1.35rem;
}


ul { list-style: none; }

.main ul {
	font-size: 1.2rem;
}

img { max-width: 100%; height: auto; }


.errors {
	width: 100%;
	margin-bottom: .9rem;
	padding: .9rem;
	color: $error;
	border: 1px solid $error;
	border-radius: .3rem;
}
.error {
	color: $error;
}


.strongest	{ font-weight: bold; color: #000; }
.stronger	{ font-weight: bold; color: #666; font-style: italic; }


.container	{
	display: flex;
	width: 100%; // TB var'd, re; header padding-left
	flex-flow: column nowrap;
}

section {
	display: flex;
	width: 100%;
	flex-flow: column nowrap;
	align-items: flex-start;
	margin-bottom: 3rem;
}
